<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Halak.Bibim.Bab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Halak.Bibim.Bab.Properties.Settings>
            <setting name="CommandLines" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>con /class:assetsvr /pipe:THPanicAssetPipe</string>
                        <string>console</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="RecentCommandLine" serializeAs="String">
                <value>ASDF</value>
            </setting>
        </Halak.Bibim.Bab.Properties.Settings>
    </userSettings>
</configuration>