<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bibim.Bab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bibim.Bab.Properties.Settings>
            <setting name="CommandLines" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="RecentCommandLine" serializeAs="String">
                <value />
            </setting>
            <setting name="ConsoleWindowX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConsoleWindowY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConsoleWindowWidth" serializeAs="String">
                <value>681</value>
            </setting>
            <setting name="ConsoleWindowHeight" serializeAs="String">
                <value>558</value>
            </setting>
            <setting name="ConsoleCommands" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="UIInspectorWindowX" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UIInspectorWindowY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="UIInspectorWindowWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="UIInspectorWindowHeight" serializeAs="String">
                <value>558</value>
            </setting>
        </Bibim.Bab.Properties.Settings>
    </userSettings>
</configuration>